body {
	vertical-align: middle;
	background-color: #3399FF !important;

}

#logo {
	max-width: 200px;
}


h1 {
	font-family: 'Muli', sans-serif;
	color: white !important;
	font-size: 50%;
	text-align: left;
}

h2 {
	font-family: 'Lato', sans-serif;
	color: white !important;
	font-size: 300%;
	text-align: center;
}

h3 {
	font-family: 'Lato', sans-serif;
	color: white;
	font-size: 100%;
	/*text-align: center;*/
}

a {
	color: orange  !important;
}
a:hover {
	color: #FFFF14 !important;
}

#login {
	width: 40%;
	height: 150px;
	margin: 0px auto;
	text-align: center;
	background-position: center;

}

.topbar img {
	max-width: 20%;
}

#topbar {
	background-color: #333333;
}

.top-bar img {
	max-width: 10%;
}

#form{
	font-family: 'Lato', sans-serif;
	color: black;
	text-align: left;
	font-size: 130%;
	background-position: center;
/*	background-color: white;
*/	width: 75%;
	height: 150px;
	margin: 0px auto;
}

#form .actual {
	display:none;
}

#form select {
   width: 268px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   height: 34px;
   }

#confirmation {
	display: ;
}

.uploadb {
	background-color:#44c767;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:17px;
	padding:10px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.uploadb:hover {
	background-color:#5cbf2a;
}
.uploadb:active {
	position:relative;
	top:1px;
}

#txtFileName {
	/*padding: 16px 16px;*/
	width: 100%;
	height: 300%;
	background-color: #3399FF !important;
}

.choose {
	background-color:#e38c5d;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:17px;
	padding:10px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2b665e;
}
.choose:hover {
	background-color:#eb675e;
}
.choose:active {
	position:relative;
	top:1px;
}

.text {
	padding:10px 10px;
}

.sticky {  
    position: fixed;  
    width: 100%;  
    left: 0;  
    top: 0;  
    z-index: 100;  
    border-top: 0;  
}  

.icons img {
	max-width: 30px;
}

table { 
margin-left: auto;
margin-right: auto;
width: 100%;
}

select #folders {
	height: 47px;
}
